server:
  port: 8123
  servlet:
    context-path: /api
    # cookie 30 天过期
    session:
      cookie:
        max-age: 2592000
spring:
  application:
    name: tutu-backend
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/tutu
    username: root
    password: 39784560
  # Redis 配置
  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    timeout: 5000
  # session 配置
  session:
    store-type: redis
    # session 30 天过期
    timeout: 2592000
  # 开放更大的文件上传体积
  servlet:
    multipart:
      max-file-size: 10MB
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    # 配置mybatis-plus日志
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    # 配置逻辑删除
  global-config:
    db-config:
      # 逻辑删除字段
      logic-delete-field: isDelete
      # 逻辑删除字段的值
      logic-delete-value: 1
      # 逻辑未删除字段的值
      logic-not-delete-value: 0
knife4j:
  enable: true
  openapi:
    title: 接口文档
    group:
      default:
        group-name:
        api-rule: package
        api-rule-resources:
          - com.alioth.tutubackend.controller
